<a href="{{ .Destination | safeURL }}" style="display:inline !important;" 
   {{ with .Title }} title="{{ . }}"{{ end }}
{{ if (strings.HasPrefix .Destination "#") }} class="smooth-scroll-middle"{{ end }}
{{ if (strings.HasPrefix .Destination "http") }} 
	target="_blank" rel="noopener" 
{{ end }}
><span style="text-decoration:underline;">{{ .Text }}</span>
{{ if (strings.HasPrefix .Destination "http") }}
 <i class="fa-solid fa-up-right-from-square"></i>
{{ else }}
 <i class="fa-solid fa-arrow-right"></i>
{{ end }}
</a>

