<footer class="bg-white dark:bg-dark-300 overflow-hidden relative pt-20" >
  <div class="container">
      <div class="seperator">
      <img
        src="{{"images/footer-seperator.svg" | absURL }}"
        alt="footer-seperator"
        class="dark:hidden w-full object-cover"
      />

    </div>

    <div class="grid grid-cols-12 mb-20 max-lg:gap-y-10 max-lg:text-center pt-20 mx-auto " style="max-width:800px;">
      <div class="col-span-12 lg:col-span-6">
        <p class="max-w-[350px] max-lg:mx-auto">
          <b>Alean (Capital) AG</b><br>
		  Assetmanagement<br>
		  Neugasse 15<br>
		  9490 Vaduz<br>
		  Fürstentum Liechtenstein
        </p>
      </div>
      <div class="col-span-12 lg:col-span-6 max-lg:text-center">
        <p class="max-w-[350px] max-lg:mx-auto">
		Telefon <a href="tel:+4233840153">+423 384 01 53</a><br>
		Fax +423 384 01 70<br>
		<a href="mailto:infoalean@aleancapital.com" target="_blank">infoalean@aleancapital.com</a><br>
        </p>
          <p class="mb-3">
          <a href="../impressum">Impressum, Datenschutz und rechtliches <i class="fa-solid fa-arrow-right"></i></a>
        </p>
        
      </div>
    </div>



  </div>
</footer>

<!---Modal -->
<div
  aria-hidden="false"
  class="fixed z-[99999999990] hidden inset-0 top-0 items-start justify-center  bg-metal-900 bg-dark-200/25"
  onclick="javascript.void(0)"
  id="modal"
  role="dialog"
>
  <div class="relative w-full p-4 h-auto animate-keep-bounce max-w-xl">
    <div class="relative bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5 ">
      <div class=" border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 max-lg:p-5 ">
        <div
          class="flex items-center justify-between bg border-b border-dashed border-b-borderColour dark:border-borderColour-dark pb-5"
        >
          <h3 class="text-paragraph dark:text-white">Search</h3>
          <button
            class="text-paragraph dark:text-white"
            id="ok-btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              viewBox="0 0 256 256"
            >
              <rect
                width="256"
                height="256"
                fill="none"
              ></rect>
              <circle
                cx="128"
                cy="128"
                r="96"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="16"
              ></circle>
              <line
                x1="160"
                y1="96"
                x2="96"
                y2="160"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></line>
              <line
                x1="160"
                y1="160"
                x2="96"
                y2="96"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></line>
            </svg>
          </button>
        </div>
        <form class="mt-5">
          <div>
            <div class="flex">
              <div class="relative w-full">
                <input
                  class="block w-full focus:outline-none focus:ring-0 text-paragraph-light dark:text-paragraph-light  border-borderColour py-2.5 px-5  border border- rounded-medium bg-transparent  placeholder:text-paragraph dark:placeholder:text-white outline-none focus:border-primary dark:focus:border-primary  duration-300 transition-all"
                  id="#id-10"
                  placeholder="Search Component"
                  type="text"
                  value=""
                />
              </div>
            </div>
          </div>
        </form>
        <p class="pt-5 font-medium mb-12 hidden"><span>No recent searches</span></p>
        <div class="pt-5">
          <h3 class="mb-1">Search Result</h3>
          <ul
            class="[&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-gray-100  dark:[&>*:not(:last-child)]:border-borderColour-dark  [&>*:not(:last-child)]:border-b"
          >
            <li class="group ">
              <a
                class="  flex items-center justify-between py-5 font-medium"
                href="/services"
              >
                Investment Banks
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </li>
            <li class="group">
              <a
                href="/services"
                class="  flex items-center justify-between py-5 font-medium"
              >
                Financial Analysis <i class="fa-solid fa-angle-right"></i>
              </a>
            </li>
            <li class="group">
              <a
                href="/services"
                class="  flex items-center justify-between py-5 font-medium"
              >
                Sales & Trading <i class="fa-solid fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="{{"plugins/fancybox/fancybox.js" | absURL }}"></script>
<script src="{{"plugins/gsap/gsap.min.js" | absURL }}"></script>
<script src="{{"plugins/gsap/motionpath.js" | absURL }}"></script>
<script src="{{"plugins/swiper/swiper.js" | absURL }}"></script>
<script src="{{"plugins/aos/aos.js" | absURL }}"></script>

{{ partialCached "head/js.html" . }}