{{ with .Site.GetPage "start" }}
<section class="relative">
  <div
    class="absolute left-1/2 -top-[300px] w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  >heroblub</div>
  <div class="container relative ">
    <div class="absolute left-1/2 top-20 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden ">
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>

    <div class="grid grid-cols-12">
      <div class="max-md:col-span-full md:col-span-6">
        <div class="max-w-[550px]">
          <p><div style="height:70px">&nbsp;</div></p>
		  <h2>{{ .Title | safeHTML }}</h2>
        </div>
      </div>
      <div class="max-md:col-span-full md:col-span-6 max-w-[590px] py-10">

          {{ .Content | safeHTML }}

      </div>
    </div>
  </div>
</section>
{{end}}